body {
    font-family: 'Noto Sans Thai', sans-serif;
}


.btn-blue {
    background-color: #3c62dd;
    color: #fefefe;
}

.btn-orange {
    background-color:#ff8339;
    color: #fefefe;
}

.btn-yellow {
    background-color: #ffcd38 ;
    color: #fefefe;
}

.btn-green {
    background-color:#40ba4d ;
    color: #fefefe;
}




/* .btn-blue:hover {
    background-color: #4c76ff;
} */